<section class="section">
  <h2 class="section__title">
    <i class="fas fa-user-plus"></i>
        
    Add User
  </h2><!-- /.section__title -->

  <div class="section__content">
    <div class="form">
        <form [formGroup]="profileForm">
            <div class="form__body">
                <div class="form__row">
                    <label for="firstName">First Name</label>

                    <div class="form__controls">
                        <input
                            [class.is-invalid]="profileForm.get('firstName').invalid && profileForm.get('firstName').touched"
                            formControlName="firstName"
                            type="text"
                            name="firstName"
                            id="firstName"
                            placeholder="First Name"
                            class="field"
                            required>

                            <div class="form__alerts">
                                <span
                                    [class.hidden]="profileForm.get('firstName').valid || profileForm.get('firstName').untouched"
                                    class="form__alert form__alert--danger">First Name is required!</span>
                            </div><!-- /.form__alerts -->
                    </div><!-- /.form__controls -->
                </div><!-- /.form__row -->

                <div class="form__row">
                    <label for="lastName">Last Name</label>

                    <div class="form__controls">
                        <input
                            formControlName="lastName"
                            type="text"
                            name="lastName"
                            id="lastName"
                            placeholder="Last Name"
                            class="field">
                    </div><!-- /.form__controls -->
                </div><!-- /.form__row -->
                
                <div class="form__row">
                    <label for="email">Email</label>

                    <div class="form__controls">
                        <input
                            [class.is-invalid]="profileForm.get('email').invalid && profileForm.get('email').touched"
                            formControlName="email"
                            type="email"
                            name="email"
                            id="email"
                            placeholder="Email"
                            class="field"
                            pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                            required>

                            <div
                                *ngIf="profileForm.get('email').invalid && profileForm.get('email').touched"
                                class="form__alerts">
                                
                                <span
                                    *ngIf="profileForm.get('email').errors?.required"
                                    class="form__alert form__alert--danger">Email is required!</span>

                                <span
                                    *ngIf="profileForm.get('email').errors?.pattern"
                                    class="form__alert form__alert--danger">The Email must be of type: email@email.domain!</span>
                            </div><!-- /.form__alerts -->
                    </div><!-- /.form__controls -->
                </div><!-- /.form__row -->
            </div><!-- /.form__body -->

            <div class="form__actions">
                <button
                    type="button"
                    (click)="saveUser();"
                    [disabled]="profileForm.invalid"
                    class="form__btn btn btn--success btn--inline">
                    <i class="fas fa-user-plus"></i>

                    Apply
                </button>

                <button
                    (click)="cancel()"
                    class="form__btn btn btn--danger btn--inline">Cancel</button>
            </div><!-- /.form__actions -->
        </form>
    </div><!-- /.form -->
    </div><!-- /.section__content -->
</section><!-- /.section -->